%section.reset_password
  =form_tag password_resets_path do
    %header
      %h1 Reset Your Password
    %fieldset
      = hidden_field_tag :token, @token 
      = label_tag :password, "New Password"
      = text_field_tag :password, nil, id: 'new_password'
    %fieldset.form-group.action
      %input(type="submit" value="Reset Password")
