.row
  .col-xs-3
    =render "shared/sidebar"
  .col-xs-9
    %h1.title.text-center Your Groups
    %button.btn.btn-success#group-button
      <i class="fa fa-plus-circle"></i> Group
    .row
      .col-xs-4
        = render "form"
      %br
    - @groups.each_slice(4) do |groups|
      .row
        - groups.each do |group|
          .col-xs-3.feature
            = render partial: 'group_panel', locals: {group: group}          
