---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15nzFQKoSw2hrlQepa5YymxY&plan=firecamp_regular&email=john%40gmail.com&description=Payment%20for%20john%40gmail.com
    headers:
      Authorization:
      - Bearer sk_test_xfU7xy3kwkAkXxGSIv1kRs8S
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428184573,
          "id": "cus_5zzD5NbfGHi9e7",
          "livemode": false,
          "description": "Payment for john@gmail.com",
          "email": "john@gmail.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5zzD5NbfGHi9e7/subscriptions",
            "data": [
              {
                "id": "sub_5zzDQvtHXEcu9N",
                "plan": {
                  "interval": "month",
                  "name": "Firecamp regular plan",
                  "created": 1428001211,
                  "amount": 699,
                  "currency": "cad",
                  "id": "firecamp_regular",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1428184573,
                "status": "active",
                "customer": "cus_5zzD5NbfGHi9e7",
                "cancel_at_period_end": false,
                "current_period_start": 1428184573,
                "current_period_end": 1430776573,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "cad",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5zzD5NbfGHi9e7/sources",
            "data": [
              {
                "id": "card_15nzFQKoSw2hrlQeFjTMP9SE",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "yVufS9dNGxll2kqT",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5zzD5NbfGHi9e7"
              }
            ]
          },
          "default_source": "card_15nzFQKoSw2hrlQeFjTMP9SE"
        }
  recorded_at: Sat, 04 Apr 2015 21:56:13 GMT
recorded_with: VCR 2.9.3
