%footer.footer
  .container
    %small
      Firecamp @2015
      by
      %a{:href => "http://eduardo-blog.herokuapp.com/"} Eduardo Poleo
    %nav
      %ul
        %li
          %a{:href => "https://github.com/eduardopoleo"}
            %i.fa.fa-github
        %li
          %a{:href => "http://ca.linkedin.com/pub/eduardo-poleo/56/364/a4"}
            %i.fa.fa-linkedin-square
