%ul.nav.nav-stacked
  %li.nav-header
    %a{"data-target" => "#menu2", "data-toggle" => "collapse", :href => "#"}
      Groups
      %i.glyphicon.glyphicon-chevron-right
    %ul#menu2.nav.nav-stacked.collapse
      %li
        = link_to groups_path do
          <i class="fa fa-users"></i> All Groups
      - current_user.groups.each do |group|
        %li
          %ul
            = link_to group_posts_path(group) do
              %li #{group.name}
  - if current_user.admin
    %li.nav-header
      %a{"data-target" => "#menu3", "data-toggle" => "collapse", :href => "#"}
        Send Invitation
        %i.glyphicon.glyphicon-chevron-right
      %ul#menu3.nav.nav-stacked.collapse
        %li
          = render 'invitations/form'
        #sent
          Your invitation was sent
