.list-group
  %a.list-group-item{:href => "#"}
    %span.glyphicon.glyphicon-camera
    + Group
    %span.caret
  = link_to new_invitation_path, class: 'list-group-item' do
    %span.glyphicon.glyphicon-camera
    Create Invitation
    %span.caret 
  %a.list-group-item.active{:href => "#"}
    %span.glyphicon.glyphicon-camera
    + Message 
  %a.list-group-item{:href => "#"}
    %span.glyphicon.glyphicon-file
    + Upload Schedule
  %a.list-group-item{:href => "#"}
    %span.glyphicon.glyphicon-music
    Guides
  %a.list-group-item{:href => "#"}
    %span.glyphicon.glyphicon-film
    Todo list
