= render 'shared/flash_messages'
.jumbotron
  .container.text-center
    %h1.big-title Firecamp
    %p.lead The right information management tool for your growing business
    %p What are you waiting for join us now!
    = link_to new_user_path, class: 'btn btn-default' do
      <i class="fa fa-fire"></i> Sing Up!
.row.text-center
.row
  %h2#simple-workflow.text-center Simple Workflow
  .container.text-center
    .col-md-4.col-sm-4.col-xs-12
      %i.landing-icon.fa.fa-users.fa-5x
      %p.lead Create groups

    .col-md-4.col-sm-4.col-xs-12
      %i.landing-icon.fa.fa-envelope-o.fa-5x
      %p.lead Invite Members

    .col-md-4.col-sm-4.col-xs-12
      %i.landing-icon.fa.fa-heart.fa-5x
      %p.lead Share
