= render "navbar"
.row
  .col-xs-3
    = render "admin_link_bar"
  .col-xs-9
    %h1.feature-title.text-center Groups
    %button.btn-success#group-create-button
      + Guide
    .row
      .col-xs-3
        %a.text-center.thumbnail{href: "#"}
          %p Title
          %hr.top-guide-divisor
          %p A breif description with a set maximun of characters  fsdkjflkasjflkasj lsa jflksjd flsak;k jflkdajsfklas jflkasjflkasjf
          %hr.bottom-guide-divisor
          %p Super Category
      .col-xs-3
        %a.text-center.thumbnail{href: "#"}
          %p Title
          %hr.top-guide-divisor
          %p A breif description with a set maximun of characters  fsdkjflkasjflkasj lsa jflksjd flsak;k jflkdajsfklas jflkasjflkasjf
          %hr.bottom-guide-divisor
          %p Super Category
      .col-xs-3
        %a.text-center.thumbnail{href: "#"}
          %p Title
          %hr.top-guide-divisor
          %p A breif description with a set maximun of characters  fsdkjflkasjflkasj lsa jflksjd flsak;k jflkdajsfklas jflkasjflkasjf
          %hr.bottom-guide-divisor
          %p Super Category
       



