.row
  .col-xs-4
    %a.thumbnail.text-center{href: "http://www.epoleo.me"}
      %h1 Some awful title for a guide
      %p Some ssalkfjlksjfsaklfjlaskfjj akfj alksjfkasj faksj fklsajf klasjf
  .col-xs-4
  .col-xs-4
 

  
