---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_xfU7xy3kwkAkXxGSIv1kRs8S
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15nGI4KoSw2hrlQeOc9R644V",
          "livemode": false,
          "created": 1428011756,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15nGI4KoSw2hrlQeRHo19do2",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "yVufS9dNGxll2kqT",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "70.49.170.83"
        }
  recorded_at: Thu, 02 Apr 2015 21:55:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15nGI4KoSw2hrlQeOc9R644V&plan=firecamp_regular&email=%23%3CUser%3A0xd1d39ec%3E&description=Payment%20for%20%23%3CUser%3A0xd1d39ec%3E
    headers:
      Authorization:
      - Bearer sk_test_xfU7xy3kwkAkXxGSIv1kRs8S
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-02-18'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428011756,
          "id": "cus_5zElDtxcxT7vGr",
          "livemode": false,
          "description": "Payment for #\u003CUser:0xd1d39ec\u003E",
          "email": "#\u003CUser:0xd1d39ec\u003E",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5zElDtxcxT7vGr/subscriptions",
            "data": [
              {
                "id": "sub_5zElLYOhNgOciZ",
                "plan": {
                  "interval": "month",
                  "name": "Firecamp regular plan",
                  "created": 1428001211,
                  "amount": 699,
                  "currency": "cad",
                  "id": "firecamp_regular",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1428011756,
                "status": "active",
                "customer": "cus_5zElDtxcxT7vGr",
                "cancel_at_period_end": false,
                "current_period_start": 1428011756,
                "current_period_end": 1430603756,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "cad",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5zElDtxcxT7vGr/sources",
            "data": [
              {
                "id": "card_15nGI4KoSw2hrlQeRHo19do2",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "yVufS9dNGxll2kqT",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_5zElDtxcxT7vGr"
              }
            ]
          },
          "default_source": "card_15nGI4KoSw2hrlQeRHo19do2"
        }
  recorded_at: Thu, 02 Apr 2015 21:55:57 GMT
recorded_with: VCR 2.9.3
