/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body{
  font-family: "helvetica";
}


.navbar{
  margin-bottom: 0px;
  background-color: #0c4b33;

}

.navbar-default .navbar-brand {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}

.dropdown.open {
  background-color: #0c4b33;
}

.btn-default {
    background-color: #FF5930;
    border-color: #E6502B;
    color: white;
    &:hover{
      background-color: #FF6A45;
      color: white;
    }
}

.dropdown-menu{
  background-color: #245D47;
}

//When the dropdown is open
a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #245D47;
    color: #555;
}

.dropdown-menu > li > a {
  color: white;
  font-weight: 700;
}

.new_invitation{
  color: #0c4b33;
}

.nav-header a{
  color:  #0c4b33;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #245D47;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.glyphicon.glyphicon-user{
  color: white;
}

.caret{
  color: white;
}
// Panels
.small-panels{
  list-style: none;
  display: inline;
  float: left;
  width:100%;
  padding:0;
}

.panel.panel-default.group-panel{
  border: solid 1px #245D47;
}


.small-panels li {
  float: left;
}

.panel-default > .panel-heading {
  background-color: #245D47;
  border-color: #ddd;
  color: white;
}

// Group page styling
.main-column{
  margin-top: 1.5%;
}

.hidden-form{
  display: none; 
}

.visible-form{
  visibility: visible; 
}

.panel-image{
  border-bottom: solid 1px #245D47;
  &:hover{
    opacity: 0.8; 
  }
}


#new_group{
  margin-top: 4%;
  display: none;
}

.group-panel{
  margin-top: 5%;
}

.panel

.group-description{
  margin-top: 5%;
  font-weight: 400;
}

#group-button{
  margin-bottom: 2%;
  background-color: #0c4b33;
  border-color: #0c4b33;
  &:hover{
   background-color: #245D47;
  }

}

#new_group{
 color: #0c4b33;
}

.feature-title{
  font-family: 'Knewave';
  margin-top: 3%;
  font-size: 4em;
}

.group-info{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.box{
  width: 50px;
  height: 60px;
  background-color: black;
}



//Guides styling

.top-guide-divisor{
  border-color: black; 
}

.bottom-guide-divisor{
  border-color: black; 
}

#guide-button{
  margin-bottom: 2%
}

.thumbnail{
  &:hover{
    text-decoration: none;
  }
}
.guide-title{
  font-weight: 200; 
  font-size: 1.5em;
  color: black;
  &:hover{
    text-decoration: none; 
  }
}

.guide-description{
  font-weight: 200; 
  color: black;
}

.guide-category{
  color: red;
}

.top-guide-divisor{
  margin-top: 0;
}

.bottom-guide-divisor{
  margin-bottom: 0;
}

//sidebar

#menu3{
  margin-left: 5%;
}

#menu4{
  margin-left: 5%;
}



//Forum
.resize{
  width:64px; /* you can use % */
  height: auto;
}

#new_post{
  margin-top: 4%;
}

.date-in-posts{
  padding-left: 1.7%;
}

.group-image{
  width: 100px;
  height:100px;
}

.extra-class{
 float: right; 
}

.add-resource{
  margin-top: 4%;
}

.inner-navegation{
  list-style-type: none;
  padding: 0;
  text-align: center;
  li{
    display: inline;
    padding-left: 20px;
    a{
      text-decoration: none;
      font-size: 2em;
      padding: .2em 1em;
       color: #fff;
       background-color: #036;
       &:hover{
         color: #fff;
         background-color: #369;
       }
    }
  }
}

//users page



